<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginPaciente</servlet-name>
        <servlet-class>servlets.loginPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>asignarCita</servlet-name>
        <servlet-class>servlets.asignarCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelarCita</servlet-name>
        <servlet-class>servlets.cancelarCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginSanitario</servlet-name>
        <servlet-class>servlets.loginSanitario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cogerFechaCitasSanitario</servlet-name>
        <servlet-class>servlets.cogerFechaCitasSanitario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginPaciente</servlet-name>
        <url-pattern>/loginPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>asignarCita</servlet-name>
        <url-pattern>/asignarCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelarCita</servlet-name>
        <url-pattern>/cancelarCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginSanitario</servlet-name>
        <url-pattern>/loginSanitario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cogerFechaCitasSanitario</servlet-name>
        <url-pattern>/cogerFechaCitasSanitario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
